body
{
background-image:url('cal1.jpg');
background-repeat:no-repeat;
background-size:cover;
}
    
.style{
    margin-left: 45%;
    margin-top: 20%;
}
.btnstyl
{
    margin:5px;
    padding:2px;
    background-color:wheat;
    color:black;
    padding: 10px;
}
.btneql
{
    margin:4px;
    background-color: wheat;
    color:black;
    width: 75px;
    padding:9px;
}
.textfield
{
    height: 30px;
    padding:4px;
    margin-left: 4.5px;
    width:170px;
}